<a href="https://colab.research.google.com/github/nkeeru/python-basics/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Indentation
if 10>50:
 print("yes")
else:
 print("no")

no

In [ ]:
print("a")

a

In [ ]:
#variables
b='mrce'
print(b)

mrce

In [ ]:
#multiple variables with single value
a=b=c=10
print(a)
print(a+c)

10
20

In [ ]:
#multiple variables with multiple values
a,b,c=10,20,30
print(c)

30

In [ ]:
a=10
print(a)

10

In [ ]:
na2me="sruthi"
print(na2me)

sruthi

In [ ]:
_name="sruthi"
print(_name)

sruthi

In [ ]:
#single line comment
#addition of 2 numbers
a=10
b=20
print(a+b)

30

In [ ]:
#multiline comment
'''addition of numbers'''
a=10
b=30
print(a+b)

40

In [ ]:
#identifiers
temp=25
print(temp)

25

In [ ]:
#list
a=[1,2,3,4,5]
print(a)
#type()
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
#positive indexing
a=[1,2,3]
print(a[1])
#negative indexing
a=[1,2,3,4,5]
print(a[3])

2
4

In [ ]:
#postive slicing
a=[1,2,3,4,5,6]
print(a[1:5])
print(a[3:])
#negative slicing
a=[1,2,3,4,5,6,7,8,9]
print(a[2:6])

[2, 3, 4, 5]
[4, 5, 6]
[3, 4, 5, 6]

In [ ]:
#step
a=[1,2,3,4,5,6,53,65]
print(a[1:5:2])

[2, 4]

In [ ]:
#type function
a=[1,2,3,4]
print(type(a))
a=10
print(type(a))

<class 'list'>
<class 'int'>

In [ ]:
#append
a=[1,2,3]
a.append(44)
print(a)
#Extend
a=[1,2,3]
b=[4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 44]
[1, 2, 3, 4, 5, 6]

In [ ]:
#adding 2 types
a=[1,2,3]
b=[4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

In [ ]:
#pop()
a=[1,2,3,4]
a.pop()
print(a)
#update
a=[1,2,3,4]
a[2]=5
print(a)
#len()
a=[1,2,3,4]
print(len(a))
#min
a=[1,2,3,4]
print(min(a))
#max
a=[1,2,3,4]
print(max(a))

[1, 2, 3]
[1, 2, 5, 4]
4
1
4

In [ ]:
#tuple
a=(1,2,3,4)
print(a)
#type
print(type(a))
#indexing
a=(1,2,3,4)
print(a[2])
#slicing
a=(1,2,3,4,5,6)
print(a[1:4])
#step indexing
a=(1,2,3,4,5,6)
print(a[1:5:2])
#adding 2 tuples
a=(1,2,3)
b=(4,5,6)
print(a+b)

(1, 2, 3, 4)
<class 'tuple'>
3
(2, 3, 4)
(2, 4)
(1, 2, 3, 4, 5, 6)

In [ ]:
#looping
a=[1,2,3,4]
for i in a:
 print(i)

1
2
3
4

In [ ]:
#conversions of tuple to list
a=(1,2,3,4)
b=list(a)
print((b))
#update
a=[1,2,3,4]
a[2]=5
print(a)
#conversions of list to tuple
a=[1,2,3,4]
b=tuple(a)
print(b)

[1, 2, 3, 4]
[1, 2, 5, 4]
(1, 2, 3, 4)

In [ ]:
#dictionary
a={1:'a',2:'b',3:'c'}
print(a)
#type
print(type(a))
#access
a={1:'a',2:'b',3:'c'}
print(a[1])
#update
a={1:'a',2:'b',3:'c'}
a[1]='d'
print(a)
#keys
a={1:'a',2:'b',3:'c'}
print(a.keys())
#values
a={1:'a',2:'b',3:'c'}
print(a.values())
#items
a={1:'a',2:'b',3:'c'}
print(a.items())
#length
a={1:'a',2:'b',3:'c'}
print(len(a))
#adding 2 dictionaries
a={1:'a',2:'b',3:'c'}
b={4:'d',5:'e'}
a.update(b)
b.update(a)
print(a)
print(b)
#pop
a={1:'a',2:'b',3:'c'}
a.pop(1)
print(a)
#pop_item
a={1:'a',2:'b',3:'c'}
a.popitem()
print(a)

{1: 'a', 2: 'b', 3: 'c'}
<class 'dict'>
a
{1: 'd', 2: 'b', 3: 'c'}
dict_keys([1, 2, 3])
dict_values(['a', 'b', 'c'])
dict_items([(1, 'a'), (2, 'b'), (3, 'c')])
3
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}
{4: 'd', 5: 'e', 1: 'a', 2: 'b', 3: 'c'}
{2: 'b', 3: 'c'}
{1: 'a', 2: 'b'}

In [ ]:
#strings
a="Keeru"
print(a)
#singleline strings
a="mrce"
print(a)
#multiline strings
a='''mrce is a engineering college'''
print(a)
#slicing
a="mrce college"
print(a[0])
print(a[0:6])
#step indexing
b="mrce college"
print(b[0:10:2])
#lower and upper methods
a="mrce"
m=a.upper()
print(m)
n=a.lower()
print(n)
#len
b="mrce"
print(len(b))
#strip
a="  Keerthana"
print(a.strip())

Keeru
mrce
mrce is a engineering college
m
mrce c
mc ol
MRCE
mrce
4
Keerthana

In [ ]:
#format method
a="cse"
b=45
out="my department is {} and count is {}"
print(out.format(a,b))
a="cse"
b=54
out="my dept is {1} and count is {0}"
print(out.format(b,a))
#without format
a="cse"
b=str (55)
print(a+b)

my department is cse and count is 45
my dept is cse and count is 54
cse55

In [ ]:
#set
a={1,2,3,4,5,6,6,56,9,3,0,34,67,12}
print(a)
print(type(a))
#adding
a.add(65)
print(a)
#pop
a.pop()
print(a)
#adding 2 sets
a={1,2,3,4}
b={9,8,7,6}
a.update(b)
print(a)

{0, 1, 2, 3, 4, 5, 6, 34, 67, 9, 12, 56}
<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 34, 67, 9, 65, 12, 56}
{1, 2, 3, 4, 5, 6, 34, 67, 9, 65, 12, 56}
{1, 2, 3, 4, 6, 7, 8, 9}

In [ ]:
#numbers
a=5
print(type(a))
a=7.9
print(type(a))
a=6+7j
print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#isinstance
a=8
print(isinstance(a,int))
a=7.8
print(isinstance(a,int))

True
False

In [ ]:
#booleans
a=True
print(type(a))
print(bool(9))
print(bool(0))
print(bool([1,2,3]))
print(bool([]))

<class 'bool'>
True
False
True
False

In [ ]:
#functions
def mrce():
  print("mrce")
#functioncall
  print("college")
mrce()

mrce
college

In [ ]:
#function with parameters
def add(a,b):
  print(a+b)
add(2,4)
add(8,4)

6
12

In [ ]:
#if statement
a = -3
if a > 0:
  print("pos")
else:
  print("neg")
if a < 8:
  print("pos")
#elif statement
day=2
if day==1:
  print("sun")
elif day==2:
  print("mon")
elif day==3:
  print("tue")
else:
  print("choose the crt number")

neg
pos
mon

In [ ]:
#modules
def sum(a,b):
  return a+b
def sub(a,b):
  return a-b
def mul(a,b):
  return a*b